server:
  port: 8083

spring:
  profiles:
    active: local
  mvc:
    path match:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:oracle:thin:@//119.205.217.251:1521/orcl
    username: ill
    password: ill
    driver-class-name: oracle.jdbc.driver.OracleDriver
  jpa:
    hibernate:
      #      절대로 건들지 안됌!!!!
      ddl-auto: none
    properties:
      hibernate:
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  freemarker:
    cache: false
  thymeleaf:
    cache: false

  #        show_sql: true
  #        format_sql: true
# p6spy 설정
decorator.datasource.p6spy:
  enable-logging: true
  multiline: true
  logging: slf4j



#사용자 정의
globals:
  main-option:
    flower:
    feather:
    attack:
    defense:
    healthPoint:
    elementMastery:
    elementCharge:
    criticalProbability:
    criticalDamage:



