<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossOrigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossOrigin="anonymous"></script>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossOrigin="anonymous">
  <link href="/css/bootstrap.css">
  <script src="/js/bootstrap.js"></script>
  <script src="/js/newArtifact.js"></script>


</head>
<body>
<div class="container">
    <div class="form-group">
      <label for="user">유저 이름</label>
      <input type="text" id="user" name="name" placeholder="유저 이름을
입력하세요">
      <label for="artifact_name">성유물 이름 </label>
      <select id="artifact_name" class="select-arrow" style="width:90px; margin-right: 5px">
        <option value>선택</option>
        <option value="1">검투사</option>
        <option value="2">악단</option>
        <option value="3">왕실</option>
        <option value="4">기사도</option>
        <option value="5">소녀</option>
        <option value="6">청록</option>
        <option value="7">반암</option>
        <option value="8">유성</option>
        <option value="9">뇌명</option>
        <option value="10">번분</option>
        <option value="11">현인</option>
        <option value="12">마녀</option>
        <option value="13">얼음</option>
        <option value="14">몰락</option>
        <option value="15">천암</option>
        <option value="16">창백</option>
        <option value="17">시메</option>
        <option value="18">절연</option>
        <option value="19">껍대기</option>
        <option value="20">조개</option>
        <option value="21">진사</option>
        <option value="22">제사</option>
        <option value="23">기억</option>
        <option value="24">도금</option>
        <option value="25">누각</option>
        <option value="26">낙원</option>
      </select>
      <label for="artifact_part">성유물 부위</label>
      <select id="artifact_part" class="select-arrow" style="width:90px; margin-right: 5px">
        <option value>선택</option>
        <option value="꽃">꽃</option>
        <option value="깃털">깃털</option>
        <option value="시계">시계</option>
        <option value="성배">성배</option>
        <option value="왕관">왕관</option>
      </select>
      <label for="main_option">메인 옵션</label>
      <input type="text" id="main_option" name="name" placeholder="메인 옵션을 입력하세요">
      <label for="attack">공격력</label>
      <input type="text" id="attack" name="name" placeholder="공격력을 입력하세요">
      <label for="attack_percent">공격력 퍼센트</label>
      <input type="text" id="attack_percent" name="name" placeholder="공격력 퍼센트를 입력하세요">
      <label for="defense">방어력</label>
      <input type="text" id="defense" name="name" placeholder="방어력을 입력하세요">
      <label for="defense_percent">방어력 퍼센트</label>
      <input type="text" id="defense_percent" name="name" placeholder="방어력 퍼센트를 입력하세요">
      <label for="health_point">체력</label>
      <input type="text" id="health_point" name="name" placeholder="체력을 입력하세요">
      <label for="health_point_percent">체력 퍼센트</label>
      <input type="text" id="health_point_percent" name="name" placeholder="체력 퍼센트를 입력하세요">
      <label for="element_mastery">원소 마스터리</label>
      <input type="text" id="element_mastery" name="name" placeholder="원소 마스터리를 입력하세요">
      <label for="element_charge">원소 충전 효율</label>
      <input type="text" id="element_charge" name="name" placeholder="원소 충전 효율을 입력하세요">
      <label for="critical_probability">치명타 확률</label>
      <input type="text" id="critical_probability" name="name" placeholder="치명타 확률을 입력하세요">
      <label for="critical_damage"> 치명타 데미지</label>
      <input type="text" id="critical_damage" name="name" placeholder="치명타 피해를 입력하세요">
    </div>
    <button id="saveButton" type="submit">등록</button>
</div> <!-- /container -->
</body>
</html>